* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  height: 7%;
  width: 7%;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.admin_image {
  width: 100px;
  object-fit: contain;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
}
.navbar {
  width: 100%;
  top: 0;
}
.card-img-top {
  width: 100px;
  height: 100px;
}

